@*@using SoftUniFinalProject.Infrastructure.Data.IdentityModels*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SoftUniFinalProject.Infrastructure.Data.IdentityModels.ApplicationUser> SignInManager
@inject UserManager<SoftUniFinalProject.Infrastructure.Data.IdentityModels.ApplicationUser> UserManager


<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="AddRole">Add Role</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="AddUserToRole">Add User To Role</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
         <a  class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" title="Back">Publick Interface</a>
    </li>
</ul>
