@model SoftUniFinalProject.Core.Models.Admin.RoleAddViewModel

@{
    ViewData["Title"] = "Add Role";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form asp-action="AddRole" method="post">
    <div class="mb-3">
        <label asp-for="@Model.RoleName" class="form-label-add-edit">Role Name</label>
        <input asp-for="@Model.RoleName" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.RoleName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-style" value="AddRole">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}