@{ ViewData["Title"] = "About us Page";}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<section class="py-3 py-md-5 py-xl-8">
            <div class="col-12 col-md-10 col-lg-8 text-center w-auto">
                <h2 class="display-5 mb-4">We're the hub for fans who crave more than just watching their favorite teams play – we bring the stadium atmosphere right to your local area.</h2>
            </div>

    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0">
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="https://t4.ftcdn.net/jpg/01/88/35/35/360_F_188353512_EmYHggAhNUMkEduM9oEIgIcim3k93e37.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                                <p class="card-text lead">Whether you're rooting for the giants of the league or the underdogs, our gatherings offer a space for every fan to revel in the excitement of the beautiful game. So grab a beer, join fellow supporters, and let's celebrate the sport we love together.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="https://media.licdn.com/dms/image/D4D03AQH41Ust_K88-g/profile-displayphoto-shrink_800_800/0/1700000964826?e=1718841600&v=beta&t=sw2Em0svVKZlLPCZTKVz6j2CeQ-wSd4LdrheLpeBv70" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">The Team</h2>
                                <p class="card-text lead">I'm Petko Tonev, 20 years old student. I study in Trakia University in Stara Zagora and in Software University(SoftUni). I'm eager to learn everyday. I hope I can start get experience in the field soon. This is my project for the exam. I hope you like it!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>